@import "node_modules/bootstrap/scss/bootstrap";
$font-color:#313131;
$border-color:#B3192C;
$hover-color:$border-color;
$thumbnail-background:#FFE6E6;
body {
    background: #fff;
    color: $font-color;
}

.container {
    padding-top: 30px; //searchbar styles
    .searchBar {
        input[type=text],
        {
            float: left;
            border-radius: 0px;
            width: 25%;
            -webkit-box-shadow: none;
            outline: -webkit-focus-ring-color auto 0px;
            border: 1px solid $border-color;
            border-right: 0px;
            padding: 10px;
            color: $font-color;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
        }
        input[type=text]:focus {
            width: 50%;
        }
        i {
            max-height: 46px;
            color: #B3192C;
            font-size: 30px;
            padding: 7px;
            border: 1px solid #B3192C;
            border-left: 0px;
        }
    } //latest videos title styles
    .list-title-wrapper,
    .list-title-wrapper2 {
        margin-top: 50px;
        padding-bottom: 45px;
        border-bottom: 1px solid #C1C1C1;
        span {
            font-weight: bold;
            color: $border-color;
        }
        img {
            float: left;
            margin-right: 20px;
        }
        .title {
            font-size: 30px;
            padding-top: 14px;
        }
    }
    .list-title-wrapper2 {
        .title {
            font-size: 20px;
            padding-top: 7px;
        }
        .small-video-list-wrapper {
            margin-top: 30px;
            .col-md-2 {
                margin-right: 30px;
            }
            .item {
                width: 157px;
                cursor: pointer;
                .title {
                    font-size: 15px;
                    color: $font-color;
                    padding-top: 0px;
                    height: 90px;
                }
                .video-channel {
                    margin-top: 15px;
                    .channel-name {
                        font-size: 12px;
                    }
                }
                figure {
                    overflow: hidden;
                    position: relative;
                    .thumbnail {
                        width: 157px;
                        height: 212px;
                    }
                }
                figure img {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    z-index: 1;
                }
            }
            .item:hover {
                figure img {
                    -webkit-transform: scale(1.3);
                    transform: scale(1.3);
                }
            }
        }
    } //video item styles
    .video-list-wrapper,
    .small-video-list-wrapper {
        a:hover {
            text-decoration: none;
        }
        .video-thumb-wrapper {
            margin: 25px auto;
            cursor: pointer;
            width: 360px;
            height: 475px;
            background: $thumbnail-background;
            padding: 8px;
            -webkit-transition: background-color 200ms linear;
            -ms-transition: background-color 200ms linear;
            transition: background-color 200ms linear;
            figure {
                overflow: hidden;
                position: relative;
                .thumbnail {
                    width: 360px;
                    height: 320px;
                }
                .play {
                    z-index: 3;
                    position: absolute;
                    top: 35%;
                    left: 37%;
                    opacity: 0;
                }
            }
            figure img {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                z-index: 1;
            }
            .video-title {
                font-size: 13px;
                margin-top: 15px;
                height: 40px;
            }
            .video-channel {
                text-align: right;
                margin-top: 50px;
                img {
                    //float: left;
                    margin-right: 10px;
                }
                .channel-name {
                    float: right;
                }
            }
        }
        .video-thumb-wrapper:hover {
            background: $hover-color;
            color: #fff;
            figure img {
                -webkit-transform: scale(1.3);
                transform: scale(1.3);
            }
            figure .play {
                opacity: 1;
            }
        }
    }
    footer {
        height: 50px;
        .footer-info {
            text-align: center
        }
    }
}