@import "node_modules/bootstrap/scss/bootstrap";
$bar-bg:#2A2A2A;
$padding-container: 0px;
.container-fluid {
    padding: $padding-container;
}

body {
    background: #fff
}

//search bar styles
.top-bar {
    padding: 10px 0px 10px 0px;
    background: $bar-bg;
    color: #cccccc;
    i {
        font-size: 35px;
        margin-right: 10px;
    }
    .input-style {
        flex: auto;
        margin-left: 20px;
        input {
            padding-left: 15px;
            background: #312F2F;
            border: 1px solid #5E5E5E;
            border-right: 0px;
            width: 20%;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
        }
        input:focus {
            width: 50%;
            background: #fff;
            outline: 0;
            color: #212529;
        }
        .input-group-addon {
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            /* font-size: 1rem; */
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            background-color: #312F2F;
            border: 1px solid #5E5E5E;
            border-radius: 0;
            border-left: 0px;
        }
        i {
            font-size: 20px;
        }
    }
}

//video detail styles
.content {
    .container {
        h2 {
            color: #B6B7BD;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .col2 {
            background: #EBEBEB;
            border-left: 1px solid #CAC7C7;
            border-right: 1px solid #CAC7C7;
        }
        .video-title {
            color: #313131;
            font-size: 25px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .video-description {
            color: #8C8787;
            font-size: 20px;
        }
        .video-list-title {
            font-size: 20px;
            text-transform: capitalize;
            margin-top: 20px;
            margin-bottom: 13px;
        }
        .list-group-item {
            margin-bottom: 10px;
            cursor: pointer;
            .video-item {
                .title {
                    font-size: 15px;
                }
            }
        }
    }
}